<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAT_Library.Properties.Settings.CATDashboardDB" connectionString="Data Source=EU1RAPW313;Initial Catalog=CATDashboardDB;Persist Security Info=True;User ID=web_sql"
            providerName="System.Data.SqlClient" />
        <add name="CAT_Library.Properties.Settings.CATDepartment" connectionString="Data Source=EU1RAPW313;Initial Catalog=CATDepartment;Persist Security Info=True;User ID=web_sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>